Package                Version
---------------------- --------------------
einops                 0.4.1
GPUtil                 1.4.0
h5py                   3.1.0
imageio                2.13.1
imgaug                 0.4.0
ipykernel              5.3.4
Jinja2                 2.11.2
matplotlib             3.3.3
tensorboard            2.4.0
tensorboard-plugin-wit 1.7.0
tensorboardX           2.1
timm                   0.6.12
torch                  1.10.0+cu111
torchaudio             0.10.0+rocm4.1
torchfile              0.1.0
torchmetrics           0.8.2
torchsummary           1.5.1
torchvision            0.11.0+cu111
